.page-title {
    padding-top: 12px;
}

.navbar-fixed-top {
    background-color: #101010;
}

.navbar-fixed-top .navbar-right {
    padding-right: 10px;
}

.navbar .ion-social-github {
    font-size: 1.2em;
}

body {
    height: 100%;
    width: 100%;
    padding-left: 0px;
}

body nav {
    float: none;
    position: fixed;
    top: 50px;
    left: 0px;
    bottom: 0px;
    padding-left: 12px;
    overflow-y: auto;
}

#main {
    position: fixed;
    float: none;
    overflow-y: auto;
    margin-left: 250px;
    
    top: 50px;
    height: calc(100% - 50px);
}

.tt-menu {
    background-color: white;
    z-index: 11;
    overflow-y: auto;
}
