.page-title {
    padding-top: 12px;
}

.navbar-fixed-top {
    background-color: #101010;
}

.navbar-fixed-top .navbar-right {
    padding-right: 10px;
}

.navbar .ion-social-github {
    font-size: 1.2em;
}

body {
    height: 100%;
    width: 100%;
    padding-left: 0px;
}

body nav {
    position: fixed;
    top: 50px;
    padding-left: 12px;
    overflow-y: auto;
    height: calc(100% - 50px);
}

footer {
    margin-left: 0px;
}

#main {
    position: fixed;
    float: none;
    overflow-y: auto;
    margin-left: 250px;
    top: 50px;
    height: calc(100% - 50px);
}

.tt-menu {
    background-color: white;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    z-index: 11;
    overflow-y: auto;
}

.tt-cursor {
    background-color: #D3D3D3;
}

.search-bar-header-first {
    margin: 5px 0px;
    border-bottom: 1px solid #D3D3D3;
}

.search-bar-header {
    margin: 5px 0px;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
}
